<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mengbulang0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{77,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,150}}</string>
                <key>sourceSize</key>
                <string>{77,150}</string>
            </dict>
            <key>mengbulang0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,0},{77,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,150}}</string>
                <key>sourceSize</key>
                <string>{77,150}</string>
            </dict>
            <key>mengbulang0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,0},{77,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,150}}</string>
                <key>sourceSize</key>
                <string>{77,150}</string>
            </dict>
            <key>mengbulang0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,0},{77,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,150}}</string>
                <key>sourceSize</key>
                <string>{77,150}</string>
            </dict>
            <key>mengbulang0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,0},{77,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,150}}</string>
                <key>sourceSize</key>
                <string>{77,150}</string>
            </dict>
            <key>mengbulang0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{385,0},{77,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,150}}</string>
                <key>sourceSize</key>
                <string>{77,150}</string>
            </dict>
            <key>mengbulang0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,0},{77,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,150}}</string>
                <key>sourceSize</key>
                <string>{77,150}</string>
            </dict>
            <key>mengbulang0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{1078,0},{77,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,150}}</string>
                <key>sourceSize</key>
                <string>{77,150}</string>
            </dict>
            <key>mengbulang0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{1078,0},{77,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,150}}</string>
                <key>sourceSize</key>
                <string>{77,150}</string>
            </dict>
            <key>mengbulang0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{1001,0},{77,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,150}}</string>
                <key>sourceSize</key>
                <string>{77,150}</string>
            </dict>
            <key>mengbulang0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{539,0},{77,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,150}}</string>
                <key>sourceSize</key>
                <string>{77,150}</string>
            </dict>
            <key>mengbulang0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,0},{77,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,150}}</string>
                <key>sourceSize</key>
                <string>{77,150}</string>
            </dict>
            <key>mengbulang0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{693,0},{77,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,150}}</string>
                <key>sourceSize</key>
                <string>{77,150}</string>
            </dict>
            <key>mengbulang0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,0},{77,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,150}}</string>
                <key>sourceSize</key>
                <string>{77,150}</string>
            </dict>
            <key>mengbulang0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{847,0},{77,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,150}}</string>
                <key>sourceSize</key>
                <string>{77,150}</string>
            </dict>
            <key>mengbulang0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{924,0},{77,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,150}}</string>
                <key>sourceSize</key>
                <string>{77,150}</string>
            </dict>
            <key>mengbulang0031.png</key>
            <dict>
                <key>frame</key>
                <string>{{1078,0},{77,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,150}}</string>
                <key>sourceSize</key>
                <string>{77,150}</string>
            </dict>
            <key>mengbulang0032.png</key>
            <dict>
                <key>frame</key>
                <string>{{1001,0},{77,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,150}}</string>
                <key>sourceSize</key>
                <string>{77,150}</string>
            </dict>
            <key>mengbulang0033.png</key>
            <dict>
                <key>frame</key>
                <string>{{1078,0},{77,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,150}}</string>
                <key>sourceSize</key>
                <string>{77,150}</string>
            </dict>
            <key>mengbulang0038.png</key>
            <dict>
                <key>frame</key>
                <string>{{1155,0},{77,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,150}}</string>
                <key>sourceSize</key>
                <string>{77,150}</string>
            </dict>
            <key>mengbulang0039.png</key>
            <dict>
                <key>frame</key>
                <string>{{1232,0},{77,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,150}}</string>
                <key>sourceSize</key>
                <string>{77,150}</string>
            </dict>
            <key>mengbulang0040.png</key>
            <dict>
                <key>frame</key>
                <string>{{1309,0},{77,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,150}}</string>
                <key>sourceSize</key>
                <string>{77,150}</string>
            </dict>
            <key>mengbulang0041.png</key>
            <dict>
                <key>frame</key>
                <string>{{1386,0},{77,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,150}}</string>
                <key>sourceSize</key>
                <string>{77,150}</string>
            </dict>
            <key>mengbulang0042.png</key>
            <dict>
                <key>frame</key>
                <string>{{1463,0},{77,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,150}}</string>
                <key>sourceSize</key>
                <string>{77,150}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>任务.png</string>
            <key>size</key>
            <string>{1540,150}</string>
            <key>textureFileName</key>
            <string>任务.png</string>
        </dict>
    </dict>
</plist>
