<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>run0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{101,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,113}}</string>
                <key>sourceSize</key>
                <string>{101,113}</string>
            </dict>
            <key>run0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,0},{109,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,113}}</string>
                <key>sourceSize</key>
                <string>{109,113}</string>
            </dict>
            <key>run0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,0},{84,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,113}}</string>
                <key>sourceSize</key>
                <string>{84,113}</string>
            </dict>
            <key>run0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,0},{95,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,113}}</string>
                <key>sourceSize</key>
                <string>{95,113}</string>
            </dict>
            <key>run0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,0},{99,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,113}}</string>
                <key>sourceSize</key>
                <string>{99,113}</string>
            </dict>
            <key>run0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,0},{91,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,113}}</string>
                <key>sourceSize</key>
                <string>{91,113}</string>
            </dict>
            <key>stand0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{579,0},{73,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,113}}</string>
                <key>sourceSize</key>
                <string>{73,113}</string>
            </dict>
            <key>stand0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,0},{73,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,113}}</string>
                <key>sourceSize</key>
                <string>{73,113}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>luoli.png</string>
            <key>size</key>
            <string>{725,113}</string>
            <key>textureFileName</key>
            <string>luoli.png</string>
        </dict>
    </dict>
</plist>
