<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0_shen_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,54},{28,62}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,8},{28,62}}</string>
                <key>sourceSize</key>
                <string>{50,80}</string>
            </dict>
            <key>0_shen_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,54},{36,64}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,6},{36,64}}</string>
                <key>sourceSize</key>
                <string>{50,80}</string>
            </dict>
            <key>0_shen_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,30},{34,62}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{34,62}}</string>
                <key>sourceSize</key>
                <string>{50,80}</string>
            </dict>
            <key>0_shou_y_mid_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,140},{12,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,5},{12,20}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>0_shou_y_mid_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,132},{14,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,5},{14,20}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>0_shou_y_mid_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{24,132},{12,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,5},{12,20}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>0_shou_y_s_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,92},{8,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,4},{8,22}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>0_shou_y_s_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,110},{10,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,4},{10,22}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>0_shou_y_s_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,92},{16,26}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,1},{16,26}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>0_shou_y_x_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{45,154},{10,16}}</string>
                <key>offset</key>
                <string>{1,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,1},{10,16}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>0_shou_y_x_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,112},{10,14}}</string>
                <key>offset</key>
                <string>{2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,3},{10,14}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>0_shou_y_x_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,108},{10,14}}</string>
                <key>offset</key>
                <string>{1,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,2},{10,14}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>0_shou_z_mid_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,136},{12,22}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,4},{12,22}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>0_shou_z_mid_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,110},{14,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,3},{14,24}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>0_shou_z_mid_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,132},{12,22}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,4},{12,22}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>0_shou_z_s_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,92},{12,26}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,4},{12,26}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>0_shou_z_s_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,118},{12,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,4},{12,22}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>0_shou_z_s_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,94},{16,24}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,1},{16,24}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>0_shou_z_x_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,96},{10,14}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,2},{10,14}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>0_shou_z_x_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,94},{8,14}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,2},{8,14}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>0_shou_z_x_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,96},{10,14}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,2},{10,14}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>0_tou_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,126},{20,22}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,5},{20,22}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>0_tou_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,112},{22,22}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{22,22}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>0_tou_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,120},{20,18}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,5},{20,18}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>0_tui_y_mid_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,60},{14,38}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,10},{14,38}}</string>
                <key>sourceSize</key>
                <string>{30,50}</string>
            </dict>
            <key>0_tui_y_mid_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,76},{14,36}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,11},{14,36}}</string>
                <key>sourceSize</key>
                <string>{30,50}</string>
            </dict>
            <key>0_tui_y_mid_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,36},{22,42}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,5},{22,42}}</string>
                <key>sourceSize</key>
                <string>{30,50}</string>
            </dict>
            <key>0_tui_y_s_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,84},{14,34}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,9},{14,34}}</string>
                <key>sourceSize</key>
                <string>{30,50}</string>
            </dict>
            <key>0_tui_y_s_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,92},{14,50}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,0},{14,50}}</string>
                <key>sourceSize</key>
                <string>{30,50}</string>
            </dict>
            <key>0_tui_y_s_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,74},{20,34}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,6},{20,34}}</string>
                <key>sourceSize</key>
                <string>{30,50}</string>
            </dict>
            <key>0_tui_y_x_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{24,146},{19,15}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{19,15}}</string>
                <key>sourceSize</key>
                <string>{25,25}</string>
            </dict>
            <key>0_tui_y_x_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,146},{19,13}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,7},{19,13}}</string>
                <key>sourceSize</key>
                <string>{25,25}</string>
            </dict>
            <key>0_tui_y_x_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,148},{19,13}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{19,13}}</string>
                <key>sourceSize</key>
                <string>{25,25}</string>
            </dict>
            <key>0_tui_z_mid_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,36},{14,40}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,8},{14,40}}</string>
                <key>sourceSize</key>
                <string>{30,50}</string>
            </dict>
            <key>0_tui_z_mid_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,68},{14,36}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,11},{14,36}}</string>
                <key>sourceSize</key>
                <string>{30,50}</string>
            </dict>
            <key>0_tui_z_mid_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,108},{22,42}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,4},{22,42}}</string>
                <key>sourceSize</key>
                <string>{30,50}</string>
            </dict>
            <key>0_tui_z_s_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,58},{14,36}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,5},{14,36}}</string>
                <key>sourceSize</key>
                <string>{30,50}</string>
            </dict>
            <key>0_tui_z_s_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,52},{14,38}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,7},{14,38}}</string>
                <key>sourceSize</key>
                <string>{30,50}</string>
            </dict>
            <key>0_tui_z_s_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,36},{20,34}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,6},{20,34}}</string>
                <key>sourceSize</key>
                <string>{30,50}</string>
            </dict>
            <key>0_tui_z_x_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{19,163},{15,15}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{15,15}}</string>
                <key>sourceSize</key>
                <string>{25,25}</string>
            </dict>
            <key>0_tui_z_x_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,163},{15,15}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,5},{15,15}}</string>
                <key>sourceSize</key>
                <string>{25,25}</string>
            </dict>
            <key>0_tui_z_x_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,96},{15,13}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,7},{15,13}}</string>
                <key>sourceSize</key>
                <string>{25,25}</string>
            </dict>
            <key>0_wuqi_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{130,26}}</string>
                <key>offset</key>
                <string>{-7,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,11},{130,26}}</string>
                <key>sourceSize</key>
                <string>{150,50}</string>
            </dict>
            <key>0_wuqi_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,30},{94,22}}</string>
                <key>offset</key>
                <string>{-25,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,13},{94,22}}</string>
                <key>sourceSize</key>
                <string>{150,50}</string>
            </dict>
            <key>0_wuqi_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,2},{112,32}}</string>
                <key>offset</key>
                <string>{-4,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,2},{112,32}}</string>
                <key>sourceSize</key>
                <string>{150,50}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>size</key>
            <string>{256,180}</string>
            <key>textureFileName</key>
            <string>0.png</string>
        </dict>
    </dict>
</plist>
