<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>115_shen_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{64,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,142}}</string>
                <key>sourceSize</key>
                <string>{64,142}</string>
            </dict>
            <key>115_shou_y_mid_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,2},{11,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,39}}</string>
                <key>sourceSize</key>
                <string>{11,39}</string>
            </dict>
            <key>115_shou_y_s_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,2},{23,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,18}}</string>
                <key>sourceSize</key>
                <string>{23,18}</string>
            </dict>
            <key>115_shou_z_s_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,146},{63,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,97}}</string>
                <key>sourceSize</key>
                <string>{63,97}</string>
            </dict>
            <key>115_tou_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,2},{17,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,56}}</string>
                <key>sourceSize</key>
                <string>{17,56}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>115.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:df306f7d5f8463ba3aa37247c65381c4$</string>
            <key>textureFileName</key>
            <string>115.png</string>
        </dict>
    </dict>
</plist>
