<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>307_shen_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,2},{29,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,64}}</string>
                <key>sourceSize</key>
                <string>{29,64}</string>
            </dict>
            <key>307_shou_y_mid_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{37,107},{10,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,19}}</string>
                <key>sourceSize</key>
                <string>{10,19}</string>
            </dict>
            <key>307_shou_y_s_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{49,104},{10,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,22}}</string>
                <key>sourceSize</key>
                <string>{10,22}</string>
            </dict>
            <key>307_shou_y_x_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{16,108},{7,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{7,18}}</string>
                <key>sourceSize</key>
                <string>{7,18}</string>
            </dict>
            <key>307_shou_z_mid_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,78},{7,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{7,24}}</string>
                <key>sourceSize</key>
                <string>{7,24}</string>
            </dict>
            <key>307_shou_z_s_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,50},{14,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,26}}</string>
                <key>sourceSize</key>
                <string>{14,26}</string>
            </dict>
            <key>307_shou_z_x_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{25,108},{10,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,17}}</string>
                <key>sourceSize</key>
                <string>{10,17}</string>
            </dict>
            <key>307_tou_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,2},{18,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,20}}</string>
                <key>sourceSize</key>
                <string>{18,20}</string>
            </dict>
            <key>307_tui_y_mid_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,78},{12,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,24}}</string>
                <key>sourceSize</key>
                <string>{12,24}</string>
            </dict>
            <key>307_tui_y_s_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{16,78},{11,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,28}}</string>
                <key>sourceSize</key>
                <string>{11,28}</string>
            </dict>
            <key>307_tui_y_x_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,37},{15,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,11}}</string>
                <key>sourceSize</key>
                <string>{15,11}</string>
            </dict>
            <key>307_tui_z_mid_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{29,78},{13,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,27}}</string>
                <key>sourceSize</key>
                <string>{13,27}</string>
            </dict>
            <key>307_tui_z_s_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,78},{12,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,34}}</string>
                <key>sourceSize</key>
                <string>{12,34}</string>
            </dict>
            <key>307_tui_z_x_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,24},{15,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,11}}</string>
                <key>sourceSize</key>
                <string>{15,11}</string>
            </dict>
            <key>307_wuqi_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{71,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,15}}</string>
                <key>sourceSize</key>
                <string>{71,15}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>307.png</string>
            <key>size</key>
            <string>{126,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b7de00932c9d7f02032d16bcf35b0c4a$</string>
            <key>textureFileName</key>
            <string>307.png</string>
        </dict>
    </dict>
</plist>
