<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>109_shen_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{92,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,160}}</string>
                <key>sourceSize</key>
                <string>{92,160}</string>
            </dict>
            <key>109_shou_y_s_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,2},{23,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,100}}</string>
                <key>sourceSize</key>
                <string>{23,100}</string>
            </dict>
            <key>109_shou_z_mid_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,164},{21,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,86}}</string>
                <key>sourceSize</key>
                <string>{21,86}</string>
            </dict>
            <key>109_shou_z_s_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,104},{12,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,19}}</string>
                <key>sourceSize</key>
                <string>{12,19}</string>
            </dict>
            <key>109_tou_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,104},{14,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,46}}</string>
                <key>sourceSize</key>
                <string>{14,46}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>109.png</string>
            <key>size</key>
            <string>{126,252}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:16b8d28ab8c94b122cb00f4449c1deb5$</string>
            <key>textureFileName</key>
            <string>109.png</string>
        </dict>
    </dict>
</plist>
