<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>绅士站立0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{69,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,132}}</string>
                <key>sourceSize</key>
                <string>{69,132}</string>
            </dict>
            <key>绅士站立0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,0},{69,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,132}}</string>
                <key>sourceSize</key>
                <string>{69,132}</string>
            </dict>
            <key>绅士站立0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,0},{69,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,132}}</string>
                <key>sourceSize</key>
                <string>{69,132}</string>
            </dict>
            <key>绅士站立0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,0},{69,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,132}}</string>
                <key>sourceSize</key>
                <string>{69,132}</string>
            </dict>
            <key>绅士站立0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,0},{69,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,132}}</string>
                <key>sourceSize</key>
                <string>{69,132}</string>
            </dict>
            <key>绅士站立0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{345,0},{69,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,132}}</string>
                <key>sourceSize</key>
                <string>{69,132}</string>
            </dict>
            <key>绅士站立0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,0},{69,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,132}}</string>
                <key>sourceSize</key>
                <string>{69,132}</string>
            </dict>
            <key>绅士站立0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{483,0},{69,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,132}}</string>
                <key>sourceSize</key>
                <string>{69,132}</string>
            </dict>
            <key>绅士站立0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,0},{69,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,132}}</string>
                <key>sourceSize</key>
                <string>{69,132}</string>
            </dict>
            <key>绅士站立0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{621,0},{69,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,132}}</string>
                <key>sourceSize</key>
                <string>{69,132}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>绅士站立.png</string>
            <key>size</key>
            <string>{690,132}</string>
            <key>textureFileName</key>
            <string>绅士站立.png</string>
        </dict>
    </dict>
</plist>
