<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>绅士跑0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{103,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,115}}</string>
                <key>sourceSize</key>
                <string>{103,115}</string>
            </dict>
            <key>绅士跑0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,0},{103,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,115}}</string>
                <key>sourceSize</key>
                <string>{103,115}</string>
            </dict>
            <key>绅士跑0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,0},{103,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,115}}</string>
                <key>sourceSize</key>
                <string>{103,115}</string>
            </dict>
            <key>绅士跑0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,0},{103,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,115}}</string>
                <key>sourceSize</key>
                <string>{103,115}</string>
            </dict>
            <key>绅士跑0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,0},{103,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,115}}</string>
                <key>sourceSize</key>
                <string>{103,115}</string>
            </dict>
            <key>绅士跑0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{515,0},{103,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,115}}</string>
                <key>sourceSize</key>
                <string>{103,115}</string>
            </dict>
            <key>绅士跑0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,0},{103,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,115}}</string>
                <key>sourceSize</key>
                <string>{103,115}</string>
            </dict>
            <key>绅士跑0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{721,0},{103,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,115}}</string>
                <key>sourceSize</key>
                <string>{103,115}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>绅士原地跑.png</string>
            <key>size</key>
            <string>{824,115}</string>
            <key>textureFileName</key>
            <string>绅士原地跑.png</string>
        </dict>
    </dict>
</plist>
