<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>拉纱0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{101,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,139}}</string>
                <key>sourceSize</key>
                <string>{101,139}</string>
            </dict>
            <key>拉纱0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,0},{101,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,139}}</string>
                <key>sourceSize</key>
                <string>{101,139}</string>
            </dict>
            <key>拉纱0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,0},{101,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,139}}</string>
                <key>sourceSize</key>
                <string>{101,139}</string>
            </dict>
            <key>拉纱0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,0},{101,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,139}}</string>
                <key>sourceSize</key>
                <string>{101,139}</string>
            </dict>
            <key>拉纱0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,0},{101,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,139}}</string>
                <key>sourceSize</key>
                <string>{101,139}</string>
            </dict>
            <key>拉纱0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{505,0},{101,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,139}}</string>
                <key>sourceSize</key>
                <string>{101,139}</string>
            </dict>
            <key>拉纱0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,0},{101,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,139}}</string>
                <key>sourceSize</key>
                <string>{101,139}</string>
            </dict>
            <key>拉纱0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{707,0},{101,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,139}}</string>
                <key>sourceSize</key>
                <string>{101,139}</string>
            </dict>
            <key>拉纱0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,0},{101,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,139}}</string>
                <key>sourceSize</key>
                <string>{101,139}</string>
            </dict>
            <key>拉纱0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{909,0},{101,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,139}}</string>
                <key>sourceSize</key>
                <string>{101,139}</string>
            </dict>
            <key>拉纱0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1010,0},{101,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,139}}</string>
                <key>sourceSize</key>
                <string>{101,139}</string>
            </dict>
            <key>拉纱0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{1111,0},{101,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,139}}</string>
                <key>sourceSize</key>
                <string>{101,139}</string>
            </dict>
            <key>拉纱0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{1212,0},{101,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,139}}</string>
                <key>sourceSize</key>
                <string>{101,139}</string>
            </dict>
            <key>拉纱0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{1212,0},{101,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,139}}</string>
                <key>sourceSize</key>
                <string>{101,139}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>观音.png</string>
            <key>size</key>
            <string>{1313,139}</string>
            <key>textureFileName</key>
            <string>观音.png</string>
        </dict>
    </dict>
</plist>
