<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>112_shen_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{120,227}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,227}}</string>
                <key>sourceSize</key>
                <string>{120,227}</string>
            </dict>
            <key>112_shou_y_mid_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{39,259},{9,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,26}}</string>
                <key>sourceSize</key>
                <string>{9,26}</string>
            </dict>
            <key>112_shou_y_s_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{53,258},{18,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,60}}</string>
                <key>sourceSize</key>
                <string>{18,60}</string>
            </dict>
            <key>112_shou_y_x_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{53,231},{22,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,25}}</string>
                <key>sourceSize</key>
                <string>{22,25}</string>
            </dict>
            <key>112_shou_z_mid_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{28,259},{9,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,27}}</string>
                <key>sourceSize</key>
                <string>{9,27}</string>
            </dict>
            <key>112_shou_z_s_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,231},{18,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,60}}</string>
                <key>sourceSize</key>
                <string>{18,60}</string>
            </dict>
            <key>112_shou_z_x_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{28,231},{23,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,26}}</string>
                <key>sourceSize</key>
                <string>{23,26}</string>
            </dict>
            <key>112_tui_z_s_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,231},{24,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,44}}</string>
                <key>sourceSize</key>
                <string>{24,44}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>112.png</string>
            <key>size</key>
            <string>{124,320}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:70837b81bab386b8d5fc37dfcd281fa9$</string>
            <key>textureFileName</key>
            <string>112.png</string>
        </dict>
    </dict>
</plist>
