<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>323_shen_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{89,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,168}}</string>
                <key>sourceSize</key>
                <string>{89,168}</string>
            </dict>
            <key>323_shou_y_mid_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,222},{23,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,29}}</string>
                <key>sourceSize</key>
                <string>{23,29}</string>
            </dict>
            <key>323_shou_y_s_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,79},{17,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,35}}</string>
                <key>sourceSize</key>
                <string>{17,35}</string>
            </dict>
            <key>323_shou_y_x_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,40},{17,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,37}}</string>
                <key>sourceSize</key>
                <string>{17,37}</string>
            </dict>
            <key>323_shou_z_mid_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{24,172},{23,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,58}}</string>
                <key>sourceSize</key>
                <string>{23,58}</string>
            </dict>
            <key>323_shou_z_s_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,2},{33,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,35}}</string>
                <key>sourceSize</key>
                <string>{33,35}</string>
            </dict>
            <key>323_shou_z_x_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,2},{23,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,36}}</string>
                <key>sourceSize</key>
                <string>{23,36}</string>
            </dict>
            <key>323_tou_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,172},{60,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,48}}</string>
                <key>sourceSize</key>
                <string>{60,48}</string>
            </dict>
            <key>323_tui_y_mid_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,222},{10,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,31}}</string>
                <key>sourceSize</key>
                <string>{10,31}</string>
            </dict>
            <key>323_tui_y_s_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{49,172},{32,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,49}}</string>
                <key>sourceSize</key>
                <string>{32,49}</string>
            </dict>
            <key>323_tui_y_x_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,232},{42,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,13}}</string>
                <key>sourceSize</key>
                <string>{42,13}</string>
            </dict>
            <key>323_tui_z_mid_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,2},{22,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,37}}</string>
                <key>sourceSize</key>
                <string>{22,37}</string>
            </dict>
            <key>323_tui_z_s_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,172},{20,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,61}}</string>
                <key>sourceSize</key>
                <string>{20,61}</string>
            </dict>
            <key>323_tui_z_x_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,235},{42,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,14}}</string>
                <key>sourceSize</key>
                <string>{42,14}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>323.png</string>
            <key>size</key>
            <string>{180,255}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:93a7c022d89e5df85d16f2410e0a0e20$</string>
            <key>textureFileName</key>
            <string>323.png</string>
        </dict>
    </dict>
</plist>
