<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>run_back (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{73,552},{87,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,115}}</string>
                <key>sourceSize</key>
                <string>{87,115}</string>
            </dict>
            <key>run_back (2).png</key>
            <dict>
                <key>frame</key>
                <string>{{160,552},{87,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,115}}</string>
                <key>sourceSize</key>
                <string>{87,115}</string>
            </dict>
            <key>run_back (3).png</key>
            <dict>
                <key>frame</key>
                <string>{{247,552},{87,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,115}}</string>
                <key>sourceSize</key>
                <string>{87,115}</string>
            </dict>
            <key>run_back (4).png</key>
            <dict>
                <key>frame</key>
                <string>{{334,552},{87,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,115}}</string>
                <key>sourceSize</key>
                <string>{87,115}</string>
            </dict>
            <key>run_back (5).png</key>
            <dict>
                <key>frame</key>
                <string>{{421,552},{87,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,115}}</string>
                <key>sourceSize</key>
                <string>{87,115}</string>
            </dict>
            <key>run_back (6).png</key>
            <dict>
                <key>frame</key>
                <string>{{0,667},{87,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,115}}</string>
                <key>sourceSize</key>
                <string>{87,115}</string>
            </dict>
            <key>run_back (7).png</key>
            <dict>
                <key>frame</key>
                <string>{{87,667},{87,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,115}}</string>
                <key>sourceSize</key>
                <string>{87,115}</string>
            </dict>
            <key>run_back (8).png</key>
            <dict>
                <key>frame</key>
                <string>{{174,667},{87,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,115}}</string>
                <key>sourceSize</key>
                <string>{87,115}</string>
            </dict>
            <key>run_positive (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{261,667},{78,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,122}}</string>
                <key>sourceSize</key>
                <string>{78,122}</string>
            </dict>
            <key>run_positive (2).png</key>
            <dict>
                <key>frame</key>
                <string>{{339,667},{78,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,122}}</string>
                <key>sourceSize</key>
                <string>{78,122}</string>
            </dict>
            <key>run_positive (3).png</key>
            <dict>
                <key>frame</key>
                <string>{{417,667},{78,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,122}}</string>
                <key>sourceSize</key>
                <string>{78,122}</string>
            </dict>
            <key>run_positive (4).png</key>
            <dict>
                <key>frame</key>
                <string>{{0,782},{78,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,122}}</string>
                <key>sourceSize</key>
                <string>{78,122}</string>
            </dict>
            <key>run_positive (5).png</key>
            <dict>
                <key>frame</key>
                <string>{{78,782},{78,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,122}}</string>
                <key>sourceSize</key>
                <string>{78,122}</string>
            </dict>
            <key>run_positive (6).png</key>
            <dict>
                <key>frame</key>
                <string>{{156,782},{78,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,122}}</string>
                <key>sourceSize</key>
                <string>{78,122}</string>
            </dict>
            <key>run_positive (7).png</key>
            <dict>
                <key>frame</key>
                <string>{{234,789},{78,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,122}}</string>
                <key>sourceSize</key>
                <string>{78,122}</string>
            </dict>
            <key>run_positive (8).png</key>
            <dict>
                <key>frame</key>
                <string>{{312,789},{78,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,122}}</string>
                <key>sourceSize</key>
                <string>{78,122}</string>
            </dict>
            <key>run_right (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{0,432},{73,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,112}}</string>
                <key>sourceSize</key>
                <string>{73,112}</string>
            </dict>
            <key>run_right (2).png</key>
            <dict>
                <key>frame</key>
                <string>{{73,432},{73,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,112}}</string>
                <key>sourceSize</key>
                <string>{73,112}</string>
            </dict>
            <key>run_right (3).png</key>
            <dict>
                <key>frame</key>
                <string>{{146,440},{73,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,112}}</string>
                <key>sourceSize</key>
                <string>{73,112}</string>
            </dict>
            <key>run_right (4).png</key>
            <dict>
                <key>frame</key>
                <string>{{219,440},{73,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,112}}</string>
                <key>sourceSize</key>
                <string>{73,112}</string>
            </dict>
            <key>run_right (5).png</key>
            <dict>
                <key>frame</key>
                <string>{{292,440},{73,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,112}}</string>
                <key>sourceSize</key>
                <string>{73,112}</string>
            </dict>
            <key>run_right (6).png</key>
            <dict>
                <key>frame</key>
                <string>{{365,440},{73,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,112}}</string>
                <key>sourceSize</key>
                <string>{73,112}</string>
            </dict>
            <key>run_right (7).png</key>
            <dict>
                <key>frame</key>
                <string>{{438,440},{73,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,112}}</string>
                <key>sourceSize</key>
                <string>{73,112}</string>
            </dict>
            <key>run_right (8).png</key>
            <dict>
                <key>frame</key>
                <string>{{0,544},{73,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,112}}</string>
                <key>sourceSize</key>
                <string>{73,112}</string>
            </dict>
            <key>stand_back (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{320,216},{78,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,112}}</string>
                <key>sourceSize</key>
                <string>{78,112}</string>
            </dict>
            <key>stand_back (2).png</key>
            <dict>
                <key>frame</key>
                <string>{{398,216},{78,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,112}}</string>
                <key>sourceSize</key>
                <string>{78,112}</string>
            </dict>
            <key>stand_back (3).png</key>
            <dict>
                <key>frame</key>
                <string>{{0,320},{78,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,112}}</string>
                <key>sourceSize</key>
                <string>{78,112}</string>
            </dict>
            <key>stand_back (4).png</key>
            <dict>
                <key>frame</key>
                <string>{{78,320},{78,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,112}}</string>
                <key>sourceSize</key>
                <string>{78,112}</string>
            </dict>
            <key>stand_back (5).png</key>
            <dict>
                <key>frame</key>
                <string>{{156,328},{78,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,112}}</string>
                <key>sourceSize</key>
                <string>{78,112}</string>
            </dict>
            <key>stand_back (6).png</key>
            <dict>
                <key>frame</key>
                <string>{{234,328},{78,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,112}}</string>
                <key>sourceSize</key>
                <string>{78,112}</string>
            </dict>
            <key>stand_back (7).png</key>
            <dict>
                <key>frame</key>
                <string>{{312,328},{78,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,112}}</string>
                <key>sourceSize</key>
                <string>{78,112}</string>
            </dict>
            <key>stand_back (8).png</key>
            <dict>
                <key>frame</key>
                <string>{{390,328},{78,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,112}}</string>
                <key>sourceSize</key>
                <string>{78,112}</string>
            </dict>
            <key>stand_positive (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{166,104},{80,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,112}}</string>
                <key>sourceSize</key>
                <string>{80,112}</string>
            </dict>
            <key>stand_positive (2).png</key>
            <dict>
                <key>frame</key>
                <string>{{246,104},{80,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,112}}</string>
                <key>sourceSize</key>
                <string>{80,112}</string>
            </dict>
            <key>stand_positive (3).png</key>
            <dict>
                <key>frame</key>
                <string>{{326,104},{80,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,112}}</string>
                <key>sourceSize</key>
                <string>{80,112}</string>
            </dict>
            <key>stand_positive (4).png</key>
            <dict>
                <key>frame</key>
                <string>{{406,104},{80,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,112}}</string>
                <key>sourceSize</key>
                <string>{80,112}</string>
            </dict>
            <key>stand_positive (5).png</key>
            <dict>
                <key>frame</key>
                <string>{{0,208},{80,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,112}}</string>
                <key>sourceSize</key>
                <string>{80,112}</string>
            </dict>
            <key>stand_positive (6).png</key>
            <dict>
                <key>frame</key>
                <string>{{80,208},{80,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,112}}</string>
                <key>sourceSize</key>
                <string>{80,112}</string>
            </dict>
            <key>stand_positive (7).png</key>
            <dict>
                <key>frame</key>
                <string>{{160,216},{80,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,112}}</string>
                <key>sourceSize</key>
                <string>{80,112}</string>
            </dict>
            <key>stand_positive (8).png</key>
            <dict>
                <key>frame</key>
                <string>{{240,216},{80,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,112}}</string>
                <key>sourceSize</key>
                <string>{80,112}</string>
            </dict>
            <key>stand_right (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{83,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,104}}</string>
                <key>sourceSize</key>
                <string>{83,104}</string>
            </dict>
            <key>stand_right (2).png</key>
            <dict>
                <key>frame</key>
                <string>{{83,0},{83,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,104}}</string>
                <key>sourceSize</key>
                <string>{83,104}</string>
            </dict>
            <key>stand_right (3).png</key>
            <dict>
                <key>frame</key>
                <string>{{166,0},{83,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,104}}</string>
                <key>sourceSize</key>
                <string>{83,104}</string>
            </dict>
            <key>stand_right (4).png</key>
            <dict>
                <key>frame</key>
                <string>{{249,0},{83,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,104}}</string>
                <key>sourceSize</key>
                <string>{83,104}</string>
            </dict>
            <key>stand_right (5).png</key>
            <dict>
                <key>frame</key>
                <string>{{332,0},{83,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,104}}</string>
                <key>sourceSize</key>
                <string>{83,104}</string>
            </dict>
            <key>stand_right (6).png</key>
            <dict>
                <key>frame</key>
                <string>{{415,0},{83,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,104}}</string>
                <key>sourceSize</key>
                <string>{83,104}</string>
            </dict>
            <key>stand_right (7).png</key>
            <dict>
                <key>frame</key>
                <string>{{0,104},{83,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,104}}</string>
                <key>sourceSize</key>
                <string>{83,104}</string>
            </dict>
            <key>stand_right (8).png</key>
            <dict>
                <key>frame</key>
                <string>{{83,104},{83,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,104}}</string>
                <key>sourceSize</key>
                <string>{83,104}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>girl.png</string>
            <key>size</key>
            <string>{511,911}</string>
            <key>textureFileName</key>
            <string>girl.png</string>
        </dict>
    </dict>
</plist>
