<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>107_shen_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{55,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,139}}</string>
                <key>sourceSize</key>
                <string>{55,139}</string>
            </dict>
            <key>107_shou_z_mid_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{59,2},{40,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,53}}</string>
                <key>sourceSize</key>
                <string>{40,53}</string>
            </dict>
            <key>107_shou_z_s_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,2},{23,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,31}}</string>
                <key>sourceSize</key>
                <string>{23,31}</string>
            </dict>
            <key>107_tui_y_mid_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,35},{9,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,35}}</string>
                <key>sourceSize</key>
                <string>{9,35}</string>
            </dict>
            <key>107_tui_y_s_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,35},{8,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,36}}</string>
                <key>sourceSize</key>
                <string>{8,36}</string>
            </dict>
            <key>107_tui_z_s_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{59,57},{35,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,73}}</string>
                <key>sourceSize</key>
                <string>{35,73}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>107.png</string>
            <key>size</key>
            <string>{126,143}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3a128b4dbb45231882b51d5f71e8042d$</string>
            <key>textureFileName</key>
            <string>107.png</string>
        </dict>
    </dict>
</plist>
