<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>311_shen_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{41,19},{31,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,56}}</string>
                <key>sourceSize</key>
                <string>{31,56}</string>
            </dict>
            <key>311_shou_y_mid_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{21,89},{19,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,32}}</string>
                <key>sourceSize</key>
                <string>{19,32}</string>
            </dict>
            <key>311_shou_y_s_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,103},{10,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,22}}</string>
                <key>sourceSize</key>
                <string>{10,22}</string>
            </dict>
            <key>311_shou_y_x_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,42},{13,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,19}}</string>
                <key>sourceSize</key>
                <string>{13,19}</string>
            </dict>
            <key>311_shou_z_mid_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,89},{17,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,34}}</string>
                <key>sourceSize</key>
                <string>{17,34}</string>
            </dict>
            <key>311_shou_z_s_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,77},{10,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,24}}</string>
                <key>sourceSize</key>
                <string>{10,24}</string>
            </dict>
            <key>311_shou_z_x_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,19},{11,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,21}}</string>
                <key>sourceSize</key>
                <string>{11,21}</string>
            </dict>
            <key>311_tou_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,77},{22,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,29}}</string>
                <key>sourceSize</key>
                <string>{22,29}</string>
            </dict>
            <key>311_tui_z_s_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{37,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,85}}</string>
                <key>sourceSize</key>
                <string>{37,85}</string>
            </dict>
            <key>311_wuqi_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,2},{78,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,15}}</string>
                <key>sourceSize</key>
                <string>{78,15}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>311.png</string>
            <key>size</key>
            <string>{122,127}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:37897e5947c9b95952547ce51ad328ef$</string>
            <key>textureFileName</key>
            <string>311.png</string>
        </dict>
    </dict>
</plist>
