<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>325_shen_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{88,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,163}}</string>
                <key>sourceSize</key>
                <string>{88,163}</string>
            </dict>
            <key>325_shou_y_mid_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,224},{22,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,30}}</string>
                <key>sourceSize</key>
                <string>{22,30}</string>
            </dict>
            <key>325_shou_y_s_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,69},{23,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,39}}</string>
                <key>sourceSize</key>
                <string>{23,39}</string>
            </dict>
            <key>325_shou_y_x_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,43},{33,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,28}}</string>
                <key>sourceSize</key>
                <string>{33,28}</string>
            </dict>
            <key>325_shou_z_mid_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,167},{25,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,61}}</string>
                <key>sourceSize</key>
                <string>{25,61}</string>
            </dict>
            <key>325_shou_z_s_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,31},{32,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,36}}</string>
                <key>sourceSize</key>
                <string>{32,36}</string>
            </dict>
            <key>325_shou_z_x_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,2},{43,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,50}}</string>
                <key>sourceSize</key>
                <string>{43,50}</string>
            </dict>
            <key>325_tou_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,167},{50,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,76}}</string>
                <key>sourceSize</key>
                <string>{50,76}</string>
            </dict>
            <key>325_tui_y_mid_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,54},{26,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,32}}</string>
                <key>sourceSize</key>
                <string>{26,32}</string>
            </dict>
            <key>325_tui_y_s_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,167},{30,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,55}}</string>
                <key>sourceSize</key>
                <string>{30,55}</string>
            </dict>
            <key>325_tui_y_x_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,230},{36,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,19}}</string>
                <key>sourceSize</key>
                <string>{36,19}</string>
            </dict>
            <key>325_tui_z_mid_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,2},{34,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,39}}</string>
                <key>sourceSize</key>
                <string>{34,39}</string>
            </dict>
            <key>325_tui_z_s_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,2},{14,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,44}}</string>
                <key>sourceSize</key>
                <string>{14,44}</string>
            </dict>
            <key>325_tui_z_x_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,2},{55,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,27}}</string>
                <key>sourceSize</key>
                <string>{55,27}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>325.png</string>
            <key>size</key>
            <string>{254,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fe02d7991ddf052a9e43e734966c0793$</string>
            <key>textureFileName</key>
            <string>325.png</string>
        </dict>
    </dict>
</plist>
