<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>315_shen_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{115,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,54}}</string>
                <key>sourceSize</key>
                <string>{115,54}</string>
            </dict>
            <key>315_shou_y_mid_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,177},{30,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,21}}</string>
                <key>sourceSize</key>
                <string>{30,21}</string>
            </dict>
            <key>315_shou_y_s_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,127},{19,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,35}}</string>
                <key>sourceSize</key>
                <string>{19,35}</string>
            </dict>
            <key>315_shou_y_x_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,97},{44,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,28}}</string>
                <key>sourceSize</key>
                <string>{44,28}</string>
            </dict>
            <key>315_shou_z_mid_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,148},{32,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,27}}</string>
                <key>sourceSize</key>
                <string>{32,27}</string>
            </dict>
            <key>315_shou_z_s_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,161},{21,32}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{21,32}}</string>
                <key>sourceSize</key>
                <string>{23,32}</string>
            </dict>
            <key>315_shou_z_x_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{51,58},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>315_tou_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,58},{47,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,37}}</string>
                <key>sourceSize</key>
                <string>{47,37}</string>
            </dict>
            <key>315_tui_y_mid_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,58},{29,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,29}}</string>
                <key>sourceSize</key>
                <string>{29,29}</string>
            </dict>
            <key>315_tui_y_s_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,138},{35,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,23}}</string>
                <key>sourceSize</key>
                <string>{35,23}</string>
            </dict>
            <key>315_tui_y_x_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{39,142},{33,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,17}}</string>
                <key>sourceSize</key>
                <string>{33,17}</string>
            </dict>
            <key>315_tui_z_mid_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,106},{30,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,36}}</string>
                <key>sourceSize</key>
                <string>{30,36}</string>
            </dict>
            <key>315_tui_z_s_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,104},{36,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,39}}</string>
                <key>sourceSize</key>
                <string>{36,39}</string>
            </dict>
            <key>315_tui_z_x_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,89},{29,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,15}}</string>
                <key>sourceSize</key>
                <string>{29,15}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>315.png</string>
            <key>size</key>
            <string>{128,200}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:026360bbc0bb92d7343c834c58f1fb3f$</string>
            <key>textureFileName</key>
            <string>315.png</string>
        </dict>
    </dict>
</plist>
