<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>309_shen_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,20},{31,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,64}}</string>
                <key>sourceSize</key>
                <string>{31,64}</string>
            </dict>
            <key>309_shou_y_mid_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,84},{10,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,19}}</string>
                <key>sourceSize</key>
                <string>{10,19}</string>
            </dict>
            <key>309_shou_y_s_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{43,84},{11,24}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,24}}</string>
                <key>sourceSize</key>
                <string>{11,26}</string>
            </dict>
            <key>309_shou_y_x_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,50},{8,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,21}}</string>
                <key>sourceSize</key>
                <string>{8,21}</string>
            </dict>
            <key>309_shou_z_mid_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,75},{7,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{7,23}}</string>
                <key>sourceSize</key>
                <string>{7,23}</string>
            </dict>
            <key>309_shou_z_s_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,50},{10,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,23}}</string>
                <key>sourceSize</key>
                <string>{10,23}</string>
            </dict>
            <key>309_shou_z_x_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,105},{11,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,18}}</string>
                <key>sourceSize</key>
                <string>{11,18}</string>
            </dict>
            <key>309_tou_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,86},{37,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,25}}</string>
                <key>sourceSize</key>
                <string>{37,25}</string>
            </dict>
            <key>309_tui_y_mid_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{29,86},{12,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,32}}</string>
                <key>sourceSize</key>
                <string>{12,32}</string>
            </dict>
            <key>309_tui_y_s_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,20},{13,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,28}}</string>
                <key>sourceSize</key>
                <string>{13,28}</string>
            </dict>
            <key>309_tui_y_x_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{43,110},{16,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,13}}</string>
                <key>sourceSize</key>
                <string>{16,13}</string>
            </dict>
            <key>309_tui_z_mid_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{35,54},{13,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,28}}</string>
                <key>sourceSize</key>
                <string>{13,28}</string>
            </dict>
            <key>309_tui_z_s_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{35,20},{11,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,32}}</string>
                <key>sourceSize</key>
                <string>{11,32}</string>
            </dict>
            <key>309_tui_z_x_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,84},{15,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,13}}</string>
                <key>sourceSize</key>
                <string>{15,13}</string>
            </dict>
            <key>309_wuqi_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{124,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,16}}</string>
                <key>sourceSize</key>
                <string>{124,16}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>309.png</string>
            <key>size</key>
            <string>{128,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bb5527c8748f37fbe5f55bb22b7c31db$</string>
            <key>textureFileName</key>
            <string>309.png</string>
        </dict>
    </dict>
</plist>
