<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>303_shen_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{45,2},{72,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,117}}</string>
                <key>sourceSize</key>
                <string>{72,117}</string>
            </dict>
            <key>303_shou_y_mid_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,198},{26,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,28}}</string>
                <key>sourceSize</key>
                <string>{26,28}</string>
            </dict>
            <key>303_shou_y_s_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{45,121},{32,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,37}}</string>
                <key>sourceSize</key>
                <string>{32,37}</string>
            </dict>
            <key>303_shou_y_x_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,229},{23,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,28}}</string>
                <key>sourceSize</key>
                <string>{23,28}</string>
            </dict>
            <key>303_shou_z_mid_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,229},{23,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,28}}</string>
                <key>sourceSize</key>
                <string>{23,28}</string>
            </dict>
            <key>303_shou_z_s_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,209},{31,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,41}}</string>
                <key>sourceSize</key>
                <string>{31,41}</string>
            </dict>
            <key>303_shou_z_x_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,198},{21,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,29}}</string>
                <key>sourceSize</key>
                <string>{21,29}</string>
            </dict>
            <key>303_tou_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,161},{26,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,35}}</string>
                <key>sourceSize</key>
                <string>{26,35}</string>
            </dict>
            <key>303_tui_y_mid_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,164},{29,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,31}}</string>
                <key>sourceSize</key>
                <string>{29,31}</string>
            </dict>
            <key>303_tui_y_s_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,121},{30,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,41}}</string>
                <key>sourceSize</key>
                <string>{30,41}</string>
            </dict>
            <key>303_tui_y_x_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,197},{30,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,24}}</string>
                <key>sourceSize</key>
                <string>{30,24}</string>
            </dict>
            <key>303_tui_z_mid_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,164},{28,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,32}}</string>
                <key>sourceSize</key>
                <string>{28,32}</string>
            </dict>
            <key>303_tui_z_s_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,161},{32,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,46}}</string>
                <key>sourceSize</key>
                <string>{32,46}</string>
            </dict>
            <key>303_tui_z_x_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{35,228},{27,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,26}}</string>
                <key>sourceSize</key>
                <string>{27,26}</string>
            </dict>
            <key>303_wuqi_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{157,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,41}}</string>
                <key>sourceSize</key>
                <string>{157,41}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>303.png</string>
            <key>size</key>
            <string>{125,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5b5caf5d7593117eafe7b1023621a250$</string>
            <key>textureFileName</key>
            <string>303.png</string>
        </dict>
    </dict>
</plist>
