<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>308_shen_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{29,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,72}}</string>
                <key>sourceSize</key>
                <string>{29,72}</string>
            </dict>
            <key>308_shou_y_mid_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{49,104},{10,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,22}}</string>
                <key>sourceSize</key>
                <string>{10,22}</string>
            </dict>
            <key>308_shou_y_s_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,13},{9,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,23}}</string>
                <key>sourceSize</key>
                <string>{9,23}</string>
            </dict>
            <key>308_shou_y_x_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{15,106},{7,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{7,17}}</string>
                <key>sourceSize</key>
                <string>{7,17}</string>
            </dict>
            <key>308_shou_z_mid_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{51,2},{5,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{5,22}}</string>
                <key>sourceSize</key>
                <string>{5,22}</string>
            </dict>
            <key>308_shou_z_s_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,13},{11,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,23}}</string>
                <key>sourceSize</key>
                <string>{11,23}</string>
            </dict>
            <key>308_shou_z_x_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,107},{11,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,18}}</string>
                <key>sourceSize</key>
                <string>{11,18}</string>
            </dict>
            <key>308_tou_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{15,76},{20,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,28}}</string>
                <key>sourceSize</key>
                <string>{20,28}</string>
            </dict>
            <key>308_tui_y_mid_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,2},{9,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,26}}</string>
                <key>sourceSize</key>
                <string>{9,26}</string>
            </dict>
            <key>308_tui_y_s_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,2},{11,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,27}}</string>
                <key>sourceSize</key>
                <string>{11,27}</string>
            </dict>
            <key>308_tui_y_x_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{24,106},{16,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,10}}</string>
                <key>sourceSize</key>
                <string>{16,10}</string>
            </dict>
            <key>308_tui_z_mid_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{37,74},{12,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,28}}</string>
                <key>sourceSize</key>
                <string>{12,28}</string>
            </dict>
            <key>308_tui_z_s_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,76},{11,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,29}}</string>
                <key>sourceSize</key>
                <string>{11,29}</string>
            </dict>
            <key>308_tui_z_x_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,106},{14,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,11}}</string>
                <key>sourceSize</key>
                <string>{14,11}</string>
            </dict>
            <key>308_wuqi_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{33,2},{70,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,16}}</string>
                <key>sourceSize</key>
                <string>{70,16}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>308.png</string>
            <key>size</key>
            <string>{126,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b90fab87dc69f672180d94f98bf11192$</string>
            <key>textureFileName</key>
            <string>308.png</string>
        </dict>
    </dict>
</plist>
