<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>320_shen_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{37,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,89}}</string>
                <key>sourceSize</key>
                <string>{37,89}</string>
            </dict>
            <key>320_shou_y_mid_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,58},{16,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,23}}</string>
                <key>sourceSize</key>
                <string>{16,23}</string>
            </dict>
            <key>320_shou_y_s_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,2},{21,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,35}}</string>
                <key>sourceSize</key>
                <string>{21,35}</string>
            </dict>
            <key>320_shou_y_x_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,76},{14,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,20}}</string>
                <key>sourceSize</key>
                <string>{14,20}</string>
            </dict>
            <key>320_shou_z_mid_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{41,63},{14,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,26}}</string>
                <key>sourceSize</key>
                <string>{14,26}</string>
            </dict>
            <key>320_shou_z_s_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,2},{22,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,38}}</string>
                <key>sourceSize</key>
                <string>{22,38}</string>
            </dict>
            <key>320_shou_z_x_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,58},{14,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,24}}</string>
                <key>sourceSize</key>
                <string>{14,24}</string>
            </dict>
            <key>320_tou_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,63},{23,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,25}}</string>
                <key>sourceSize</key>
                <string>{23,25}</string>
            </dict>
            <key>320_tui_y_mid_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,39},{16,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,35}}</string>
                <key>sourceSize</key>
                <string>{16,35}</string>
            </dict>
            <key>320_tui_y_s_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,2},{25,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,54}}</string>
                <key>sourceSize</key>
                <string>{25,54}</string>
            </dict>
            <key>320_tui_y_x_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,98},{25,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,18}}</string>
                <key>sourceSize</key>
                <string>{25,18}</string>
            </dict>
            <key>320_tui_z_mid_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,42},{17,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,38}}</string>
                <key>sourceSize</key>
                <string>{17,38}</string>
            </dict>
            <key>320_tui_z_s_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{41,2},{29,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,59}}</string>
                <key>sourceSize</key>
                <string>{29,59}</string>
            </dict>
            <key>320_tui_z_x_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,2},{24,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,20}}</string>
                <key>sourceSize</key>
                <string>{24,20}</string>
            </dict>
            <key>320_wuqi_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,93},{142,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,33}}</string>
                <key>sourceSize</key>
                <string>{142,33}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>320.png</string>
            <key>size</key>
            <string>{173,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2a15e115080443322c2e746826ff67fa$</string>
            <key>textureFileName</key>
            <string>320.png</string>
        </dict>
    </dict>
</plist>
