<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>306_shen_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{51,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,94}}</string>
                <key>sourceSize</key>
                <string>{51,94}</string>
            </dict>
            <key>306_shou_y_mid_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,89},{18,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,32}}</string>
                <key>sourceSize</key>
                <string>{18,32}</string>
            </dict>
            <key>306_shou_y_s_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,38},{25,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,29}}</string>
                <key>sourceSize</key>
                <string>{25,29}</string>
            </dict>
            <key>306_shou_y_x_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,2},{13,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,19}}</string>
                <key>sourceSize</key>
                <string>{13,19}</string>
            </dict>
            <key>306_shou_z_mid_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,28},{13,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,37}}</string>
                <key>sourceSize</key>
                <string>{13,37}</string>
            </dict>
            <key>306_shou_z_s_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,2},{25,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,34}}</string>
                <key>sourceSize</key>
                <string>{25,34}</string>
            </dict>
            <key>306_shou_z_x_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,2},{15,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,19}}</string>
                <key>sourceSize</key>
                <string>{15,19}</string>
            </dict>
            <key>306_tui_y_mid_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,69},{14,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,24}}</string>
                <key>sourceSize</key>
                <string>{14,24}</string>
            </dict>
            <key>306_tui_y_s_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,2},{11,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,24}}</string>
                <key>sourceSize</key>
                <string>{11,24}</string>
            </dict>
            <key>306_tui_y_x_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,28},{20,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,18}}</string>
                <key>sourceSize</key>
                <string>{20,18}</string>
            </dict>
            <key>306_tui_z_mid_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,98},{14,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,27}}</string>
                <key>sourceSize</key>
                <string>{14,27}</string>
            </dict>
            <key>306_tui_z_s_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,69},{14,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,24}}</string>
                <key>sourceSize</key>
                <string>{14,24}</string>
            </dict>
            <key>306_tui_z_x_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,69},{20,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,18}}</string>
                <key>sourceSize</key>
                <string>{20,18}</string>
            </dict>
            <key>306_wuqi_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{18,98},{80,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,26}}</string>
                <key>sourceSize</key>
                <string>{80,26}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>306.png</string>
            <key>size</key>
            <string>{127,127}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:59fcacc9eb87044bf56761b7033a3a80$</string>
            <key>textureFileName</key>
            <string>306.png</string>
        </dict>
    </dict>
</plist>
