<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>312_shen_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,2},{30,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,55}}</string>
                <key>sourceSize</key>
                <string>{30,55}</string>
            </dict>
            <key>312_shou_y_mid_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,2},{18,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,29}}</string>
                <key>sourceSize</key>
                <string>{18,29}</string>
            </dict>
            <key>312_shou_y_s_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,59},{10,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,22}}</string>
                <key>sourceSize</key>
                <string>{10,22}</string>
            </dict>
            <key>312_shou_y_x_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,59},{11,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,20}}</string>
                <key>sourceSize</key>
                <string>{11,20}</string>
            </dict>
            <key>312_shou_z_mid_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,83},{17,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,33}}</string>
                <key>sourceSize</key>
                <string>{17,33}</string>
            </dict>
            <key>312_shou_z_s_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,59},{11,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,25}}</string>
                <key>sourceSize</key>
                <string>{11,25}</string>
            </dict>
            <key>312_shou_z_x_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,33},{10,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,20}}</string>
                <key>sourceSize</key>
                <string>{10,20}</string>
            </dict>
            <key>312_tou_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,81},{22,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,29}}</string>
                <key>sourceSize</key>
                <string>{22,29}</string>
            </dict>
            <key>312_tui_z_s_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{38,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,85}}</string>
                <key>sourceSize</key>
                <string>{38,85}</string>
            </dict>
            <key>312_wuqi_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,89},{54,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,35}}</string>
                <key>sourceSize</key>
                <string>{54,35}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>312.png</string>
            <key>size</key>
            <string>{121,126}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1a5a72300eb2aca8e08e572d52e097cf$</string>
            <key>textureFileName</key>
            <string>312.png</string>
        </dict>
    </dict>
</plist>
