<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>310_shen_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,2},{30,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,61}}</string>
                <key>sourceSize</key>
                <string>{30,61}</string>
            </dict>
            <key>310_shou_y_mid_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{23,65},{9,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,21}}</string>
                <key>sourceSize</key>
                <string>{9,21}</string>
            </dict>
            <key>310_shou_y_s_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{9,65},{12,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,24}}</string>
                <key>sourceSize</key>
                <string>{12,24}</string>
            </dict>
            <key>310_shou_y_x_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,65},{8,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,19}}</string>
                <key>sourceSize</key>
                <string>{8,19}</string>
            </dict>
            <key>310_shou_z_mid_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,65},{5,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{5,25}}</string>
                <key>sourceSize</key>
                <string>{5,25}</string>
            </dict>
            <key>310_shou_z_s_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,92},{11,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,27}}</string>
                <key>sourceSize</key>
                <string>{11,27}</string>
            </dict>
            <key>310_shou_z_x_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{59,20},{11,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,16}}</string>
                <key>sourceSize</key>
                <string>{11,16}</string>
            </dict>
            <key>310_tou_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,2},{20,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,23}}</string>
                <key>sourceSize</key>
                <string>{20,23}</string>
            </dict>
            <key>310_tui_y_mid_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{31,92},{13,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,27}}</string>
                <key>sourceSize</key>
                <string>{13,27}</string>
            </dict>
            <key>310_tui_y_s_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{16,92},{13,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,28}}</string>
                <key>sourceSize</key>
                <string>{13,28}</string>
            </dict>
            <key>310_tui_y_x_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,27},{18,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,12}}</string>
                <key>sourceSize</key>
                <string>{18,12}</string>
            </dict>
            <key>310_tui_z_mid_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,92},{12,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,29}}</string>
                <key>sourceSize</key>
                <string>{12,29}</string>
            </dict>
            <key>310_tui_z_s_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,59},{14,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,31}}</string>
                <key>sourceSize</key>
                <string>{14,31}</string>
            </dict>
            <key>310_tui_z_x_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,41},{15,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,16}}</string>
                <key>sourceSize</key>
                <string>{15,16}</string>
            </dict>
            <key>310_wuqi_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{70,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,16}}</string>
                <key>sourceSize</key>
                <string>{70,16}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>310.png</string>
            <key>size</key>
            <string>{128,123}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5403bdfb3043f64316d301ef78d3f58b$</string>
            <key>textureFileName</key>
            <string>310.png</string>
        </dict>
    </dict>
</plist>
