<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>314_shen_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{43,19},{30,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,55}}</string>
                <key>sourceSize</key>
                <string>{30,55}</string>
            </dict>
            <key>314_shou_y_mid_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,2},{18,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,29}}</string>
                <key>sourceSize</key>
                <string>{18,29}</string>
            </dict>
            <key>314_shou_y_s_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,33},{9,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,22}}</string>
                <key>sourceSize</key>
                <string>{9,22}</string>
            </dict>
            <key>314_shou_y_x_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,19},{11,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,18}}</string>
                <key>sourceSize</key>
                <string>{11,18}</string>
            </dict>
            <key>314_shou_z_mid_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,85},{17,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,33}}</string>
                <key>sourceSize</key>
                <string>{17,33}</string>
            </dict>
            <key>314_shou_z_s_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,39},{9,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,23}}</string>
                <key>sourceSize</key>
                <string>{9,23}</string>
            </dict>
            <key>314_shou_z_x_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,19},{10,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,19}}</string>
                <key>sourceSize</key>
                <string>{10,19}</string>
            </dict>
            <key>314_tou_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{21,85},{21,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,29}}</string>
                <key>sourceSize</key>
                <string>{21,29}</string>
            </dict>
            <key>314_tui_z_s_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{39,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,81}}</string>
                <key>sourceSize</key>
                <string>{39,81}</string>
            </dict>
            <key>314_wuqi_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,2},{59,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,15}}</string>
                <key>sourceSize</key>
                <string>{59,15}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>314.png</string>
            <key>size</key>
            <string>{125,120}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:34b6467389faa0ed0636fb00c7e7e6dd$</string>
            <key>textureFileName</key>
            <string>314.png</string>
        </dict>
    </dict>
</plist>
